/* Farmers.css */
.dropdown{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
select{
  font-size: 18px;
  text-align: center;
  border-radius:5px;
  background-color:  #b3e3f8;
  margin-left: 50px;
  width: fit-content;
  height: 40px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #b3e3f8;
    text-align: center;
  
    
  }
  
  tr:nth-child(even) {
    background-color: #e1f4fb;
  }
  
   tr:hover {
    background-color: #ddd;
  } 
  
  button {
    background-color: #8ac5ee;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
   button:hover {
    color: rgb(249, 13, 13);
    /* background-color:  #fcb6b6; */
  } 
  